body {
    font-family: Arial, sans-serif;
    background-color: #ffc425;
}

/* Existing CSS... */

.navbar {
    background-color: #00583d;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.nav-item-box {
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav-item {
    color: #00583d;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
}

/* Popup Styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; /* initially hidden */
}

.popup-content {
    background-color: #ffc425;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #00583d;
}

.close-popup {
    float: right;
    cursor: pointer;
}

.popup-button {
    background-color: #ffffff;
    color: #00583d;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.popup-button:hover {
    background-color: #eeeeee;
}
