body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    height: 100vh; /* make body take full height of viewport */
}

.container {
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #ffc425;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #00583d;
}

p {
    color: #333;
    line-height: 1.5;
}

.photo-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.photo-grid img {
    width: calc(33.333% - 10px);
    height: auto;
    border-radius: 5px;
}
