.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the overlay is above other content */
}

.popup-content {
    background-color: #ffc425;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #00583d;
    position: relative; /* Allows for positioning of close button */
    width: auto;
    max-width: 90%; /* Ensures content is responsive and fits within the viewport */
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem; /* Makes the close button more prominent */
    color: #333; /* Ensures visibility against the popup background */
}

